.header{
    background-color: cadetblue; padding: 0px 20px;
}
.content {
    background: white;
    text-align: center;
    padding: 20px;
}
.pre{
    color:#fff;
    font-size:1.1rem;
}
.title{
    font-size: 1.1rem;
    color: white;
    margin-left: 20px;
}