.box {
    height: 80px;
    border-bottom: 1px solid rgb(225, 225, 226);
    padding: 10px 15px;
    cursor: pointer;
}
hover{
     background: rgb(225,225,226);
}
.box img{
    float:left;
    height: 60px;
    width: 45px;
}
.box p{
    margin-left:55px;
    text-align:left;
    height: 80px;
}
.box p span{
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}
.box p span:first-child{
    font-size: 1.0rem;
    font-weight: bold;
    color: rgb(89,89,89);
}
.box p span:last-child{
    font-size: 0.8rem;
    color:rgb(182,182,182);
}
